<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"></meta>

  <link
    href="css/style.css"
    type="text/css"
    rel="stylesheet"
  ></link>

  <link
    href="css/bootstrap.min.css"
    type="text/css"
    rel="stylesheet"
  ></link>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  ></link>

  <title>Banca Vialynk</title>
</head>

<body class="flex flex-col h-screen justify-between">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-my-green">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
        > 
        <img src="resources/logo-vilynk.png" alt="Hannoi Auth"  style="height: 19px;width: 80px;" >
        </a>


        <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {{active1}}" href="/">Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{active2}}" href="/creditos">Créditos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{active3}}" href="/inversiones">Inversiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{active4}}" href="/servicios">Servicios</a>
        </li>
      </ul>


        
          <form class="d-flex">
            <a href="/login">
            <button type="button" class="btn mx-1  btn-light btn-outline-dark text-monospace ">LOG IN</button>
            </a>
            <a href="/register">
              <button type="button" class="btn mx-1  btn-light btn-outline-dark text-monospace ">REGISTRO</button>
            </a>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <div class="mt-5 mx-5 md-5 mb-5">
    {{navigation }}
    {{{body}}}
  </div>
  
<footer class="bg-my-green text-center">
        <!-- Grid container -->
        <div class="mb-1">
          _
        </div>
        <div >
          <!-- Section: Social media -->
          <section  >
            <!-- Facebook -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.facebook.com/vialynk" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a class="btn btn-outline-dark m-1" href="https://twitter.com/VialynkSA" target="_blank" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/vialynksa/?hl=es-la" target="_blank" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/company/vialynk/" target="_blank" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/rromom" target="_blank" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
        </div>
        <div class="text-center p-3">
          © 2022 Copyright:
            <a class="alert-link text-dark" href="https://www.vialynk.com/">VIALYNK</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
  
  <script
    type="text/javascript"
    src="src/phaser.js"
  ></script>

  <script
    type="text/javascript"
    src="src/Stopwatch.js"
  ></script>

  <script
    type="text/javascript"
    src="src/Game.js"
  ></script>
</body>
</html>